.add-user-form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 300px;

  margin-bottom: 20px;
}

.add-user-form input {
  padding: 10px;
}

.add-user-form button {
  padding: 10px;
  cursor: pointer;
}